discord.py
python-dotenv
requests
readchar
urllib3
configparser
concurrent-log-handler
pysocks
colorama
time
threading
random
json
uuid
socket
socks
sys
string
traceback
concurrent.features